body{

    background:#ffffff;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.image{

    width: 170px;
    border-style: double;
    border-color: #ffffff;
    border-width: 10px; 
    border-radius: 15% 15% 15% 15%;
    margin-top: 20px;
    box-shadow: 0 0 10px #ffffff;
}

.container{
    width: 1000px;
    margin: 0 auto;
    background-color: #000000
}

.profile{           
    text-align: center;

}


h1{
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px #ffffff;
}

.description{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 15px;
    text-shadow: 0 0 20px #ffffff;

}

.social-links{
    text-decoration: none;
}

.social-icons{
    
    width: 30px;
    background-color: #ffffff;
}

.icon-espaçamento{
    margin-right:18px;

}

.icon-espaçamento2{
    margin-left:0px;

}
.icon-espaçamento3{
    margin-right:20px;

}

.icon-espaçamento4{
    margin-right:20px;
}

.footer{
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 100px black;
}